.btn{
    -fx-background-color: linear-gradient(to bottom right, #0abfa4, #00d079);
    -fx-background-radius: 12px;
    -fx-font-family: Georgia;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.btn:hover{
    -fx-background-color: #76DECE;
}

.btn:pressed{
	-fx-background-color: #D0FFD9;
}
.textfield{
    -fx-background-color: #5E5E5E;
    -fx-padding: 0 0 0 28px;
    -fx-border-color: linear-gradient(to left, #F63BFF, #3E56EB);
    -fx-font-family: 'Georgia'; 
    -fx-border-width: 2px;
    -fx-text-fill: #ffff;
    -fx-font-size: 18px;
}

.textfield:focused{
    -fx-background-color: white;
    -fx-text-fill: #000;
    -fx-border-width: 1px;
}

.textfield:hover{
	-fx-background-color: #8A8A8A;
}

.textfield:focused:hover{
	-fx-background-color: white;
    -fx-text-fill: #000;
    -fx-border-width: 1px;
}



.textfields{
    -fx-background-color: #3A9FF5;
    -fx-border-color: linear-gradient(to left, #F63BFF, #3E56EB);
    -fx-font-family: 'Georgia'; 
    -fx-border-width: 2px;
    -fx-text-fill: #ffff;
    -fx-font-size: 18px;
}

.bg-form {
    -fx-background-color: linear-gradient(to right, #6668FF, #5A47EC, #4641CC);
    -fx-background-size: 300% 100%;
    -fx-background-position: 0% 0%;
    -fx-animation: gradientAnimation 5s infinite linear;
}

.base {
    -fx-background-color: linear-gradient(to right, #333333, #454545);
	-fx-background-radius: 10;
}

.beraldo {
	-fx-background-color: #C0E9FC;
	-fx-background-radius: 16px;
    -fx-padding: 0;
    -fx-border-color: #EA8C15;
    -fx-border-radius: 14px;
    -fx-border-width: 4px;
}

.text {
    -fx-font-family: Georgia;
    -fx-font-size: 18px;
    -fx-text-fill: #73f3ff;
}


.textfielda{
    -fx-background-color: #5E5E5E;
    -fx-border-color: linear-gradient(to left, #F63BFF, #3E56EB);
    -fx-font-family: 'Georgia'; 
    -fx-border-width: 2px;
    -fx-text-fill: #ffff;
    -fx-font-size: 18px;
}

.textfielda:focused{
    -fx-background-color: white;
    -fx-text-fill: #000;
    -fx-border-width: 1px;
}

.textfielda:hover{
	-fx-background-color: #8A8A8A;
}

.textfielda:focused:hover{
	-fx-background-color: white;
    -fx-text-fill: #000;
    -fx-border-width: 1px;
}
